.odd {
    background-color: #ffb6c1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: #00f;
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

#four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
} 

button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

button.button1 {
    background-color: black;
    color: white;
}

button.button2 {
    background-color: yellow;
}